@page  "/accessreview/new"

<MudContainer Class="mt-16">
    <MudCard>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="8" md="8">
                    <MudTextField @bind-Value="@SearchText" 
                                  Placeholder="Enter Name" 
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.Outlined.Search"
                                  OnAdornmentClick="Search"
                                  Disabled="IsLoading"/>
                </MudItem>
                <MudItem xs="4" md="4">
                    <MudRadioGroup @bind-SelectedOption="@SelectedObjectType">
                        @foreach (var type in ObjectTypes)
                        {
                            <MudRadio Option="@type.Key" Disabled="IsLoading">@type.Value</MudRadio>
                        }
                    </MudRadioGroup>
                </MudItem>
                <MudItem  xs="12" md="12">
                    <Loadable IsLoading="IsLoading">
                        <MudList>
                            @foreach (var item in SearchResults)
                            {
                                <MudListItem>
                                    <div class="d-flex flex-row">
                                        <MudText>@item.DisplayName</MudText>
                                        <MudFab Color="Color.Primary" Size="Size.Small" Icon="@Icons.Material.Filled.Add" aria-label="add" OnClick="@(()=>StartReview(item))" />
                                    </div>
                                </MudListItem>
                                
                            }
                           
                        </MudList>
                    </Loadable>
                   
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudContainer>